<section>
  <h2>Entre como participante</h2>
  <form action="/enterroom" method="POST">
    <label class="sr-only" for="room-id">Código da sala</label>
    <input
      name="roomId"
      type="number"
      id="room-id"
      placeholder="Código da sala"
    />
    <button>
      <img src="/images/loginIconNLW.svg" alt="Entrar na sala" />
      Entrar na sala
    </button>
  </form>
</section>

<div class="separator">
  <div></div>
  <div>ou</div>
  <div></div>
</div>
<section>
  <h2>Crie sua própria página de forma fácil</h2>
  <a href="/create-pass" class="button outlined">
    <img src="/images/usersIconNLW.svg" alt="foto usuários" />Criar sala
  </a>
</section>
